均线：前N天的移动平均值
日均线：5天 10天
季均线：30天 60天
年均线：120天 240天
金叉：短期均线上穿长期均线，买入信号
死叉：短期均线下穿

In [1]:
import akshare as ak
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
stock_record = ak.stock_zh_a_hist(symbol='000001', start_date='20100101', adjust='hfq').iloc[:, :5]
stock_record.columns = ['date', 'open', 'close', 'high', 'low']
stock_record.index.name = 'date'
stock_record

            date     open    close     high      low
date
0     2010-01-04  1402.93  1355.31  1406.45  1353.55
1     2010-01-05  1357.66  1331.21  1366.48  1298.88
2     2010-01-06  1328.27  1307.70  1328.27  1297.12
3     2010-01-07  1307.70  1293.00  1316.51  1278.30
4     2010-01-08  1284.18  1290.06  1298.88  1275.37
...          ...      ...      ...      ...      ...
3089  2023-01-03  2351.27  2443.91  2456.91  2326.89
3090  2023-01-04  2434.16  2533.30  2549.55  2421.15
3091  2023-01-05  2546.30  2559.30  2601.56  2541.42
3092  2023-01-06  2562.55  2582.06  2598.31  2559.30
3093  2023-01-09  2603.19  2611.31  2624.31  2565.80

[3094 rows x 5 columns]